:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: white;
    --tertiary-color: rgb(255, 0, 0);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
header {
    padding: 20px 36px;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    list-style: none;
}
.page-content {
    height: 100%;
    text-align: center;
    margin-top: 10%;
}

.page-first {
    
    width: 100%;
}

.page-first h2 {
    font-size: 3rem;
}
.page-first p {
    font-size: 1.5rem;
}

.page-quiz {
    
    width: 100%;
}

.page-quiz h2 {
    font-size: 3rem;
}



.page-end {
    
    width: 100%;
    display: none;
}

.page-end p {
    font-size: 3rem;
    
}

.page-end span {
    font-size: 2rem;
}

.page-scores {
    
    width: 100%;
    display: none;
}
.page-scores p {
    font-size: 3rem;
}

.page-scores li {
    font-size: 1.5rem;
    
}

.btn {
    outline: none;
    border: none;
    display: inline-block;
    padding: 5px 12px;
    background: var(--tertiary-color);
    font-size: 2rem;
    border-radius: 12px;
    position: relative;
    top: 2px;
    box-shadow: 0 3px var(--primary-color);
    text-align: center;
}

h1 {
    border-bottom: var(--primary-color);
}